@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background:url("./pic.jpg");
}

.main12 {
	background-color: cornsilk;
	width: 400px;
	margin: 100px auto;
	height: 175px;
	position: relative;
	padding: 30px;
	
}

.badge {
	
	background: #e66357;
	color: white;
	padding: 5px 10px;
	font-family: sans-serif;
	font-weight: bold;
	width:96px;
	position:absolute;
	top:-15px;
	left:35%;
	
}


.clock {
	
	background: #EBEBEB;
	text-align: center;
	font-size: 55px;
	height: 100%;
	padding-top: 35px;
	font-family: 'Orbitron', sans-serif;
	border-radius: 4px;
	
}
