*{
	padding: 0;
	box-sizing: border-box;
	
}


.form-group {
	
	
	padding: 0 30rem;
	margin-top: 10vh;
	font-size: 1.5rem;
	
	
	
}

.form-control {
	
	width: 250px;
	height: 30px;
}


.btn {
	
	margin: 0 30rem;
	text-align: center;
	justify-content: center;
	position: fixed;
	
	margin-top: 10vh;
	font-size: 1.5rem;
}

.btn:hover {
	background-color: #666;
	cursor: pointer;
	
}